@charset "utf-8";
/* CSS Document */

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0rem 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
	background: white;
	box-shadow: 0px 2px 2px #bfd8f4;
	height: 4em;
}

/*.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .1);
    backdrop-filter: blur(50px);
    z-index: -1;
}

.header::after { 
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
	background: linear-gradient(90deg, transparent, rgba(255, 255, 255, .4), transparent);
	transition: .5s;
}*/

.header:hover::after {
	left: 100%;
}


.header a {
    text-decoration: none;
}

.logo {
    font-size: 2rem;
    color: #fff;
    font-weight: 700;
	margin-top: 5px;
}

.navbar {
	display: flex;
	align-items: center;
	width: 60%;
	justify-content: flex-end;
}


.navbar a {
    position: relative;
    /*font-size: 1.15rem;*/
    color: black;
    font-weight: 550;
    margin-left: 1.5rem;
}

.navbarLeft {
	display: flex;
	align-items: center;
}


/* $25,844.50 */
.activePrice {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	color: #063b74;
	margin-left: 60px;
}


/* +2.66% */
.percentageChange {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	color: #19A003;
	margin-left: 10px;
}

/*.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #fff;
    transition: .3s;
}

.navbar a:hover::before {
    width: 100%;
}*/

.icons {
    position: absolute;
    right: 5%;
    font-size: 2.8rem;
    color: #063b74;
    cursor: pointer;
    display: none;
}

#check {
	display: none;
}

a{
    text-decoration: none;
    color: black;
}

.p2p{
    background-color: #5799E31F;
    padding: .3em .6em;
    border: 1px solid #0F5D8F;
    border-radius: 50px;
	left: -50%;
}

.p2p:hover{
    background-color: #19559a1f;
}

.bam{
    background-color: #5799E31F;
    padding: .3em .6em;
    /* border: 1px solid #0F5D8F; */
    border-radius: 50px;
	left: -50%;
}

.bam:hover{
    background-color: #19559a1f;
}
/* BREAKPOINTS */
@media (max-width: 992px) {
    .header {
        padding: .3rem 5%;
    }
	
    .icons {
        display: inline-flex;
    }
	
	#check:checked~.icons #menu-icon {
		display: none;
	}
	
	.icons #close-icon {
		display: none;
	}
	
	#check:checked~.icons #close-icon {
		display: block;
	}

    .navbar {
        position: absolute;
		display: block;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background: rgba(0, 0, 0, .1);
        backdrop-filter: blur(30px);
		box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .1);
		overflow: hidden;
		transition: .3s ease;
		justify-content: center;
    }
	
	#check:checked~.navbar {
		height: 17.7rem;
	}

    .navbar a {
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem 15%;
        text-align: center;
		transform: translateY(-50px);
		opacity: 0;
		transition: .3s ease;
    }
	
	#check:checked~.navbar a {
		transform: translateY(0);
		opacity: 1;
		transition-delay: calc(.15s * var(--i));
	}
	
	
	.bam {
		left: 0;
	}
	.p2p {
		left: 0;
	}
	
	.sd01{
		display: none;
	}
	
	.bdy .sd02{
		width: 100%;
		height: 100vh;
	}
	
	.bdy .sd02 .contr {
		width: 100%;
	}
	
	.bdy .sd02 .contr form input {
		width: 25em;
	}
	
	.bdy .sd02 .contr .socialLog .soc01 {
		font-size: 14px;
	}
	
	.bdy .sd02 .contr .socialLog .soc01 a {
		font-size: 14px;
	}
}